html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/OSRSLogo.png) no-repeat;
  background-size: 30%;
  background-position: center;
  background-attachment: fixed;
  background-color: #e6e6e6;
  opacity: 90%;
  min-height: 100%;
}

.container{
  margin-top: 60px;
  padding:20px;
}
form button, form h5{
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}